<!DOCTYPE html>
<html class="no-js" lang="en">


<%- include('../partials/userHead.ejs') %>


<body>

   
    <%- include('../partials/userNav.ejs') %>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <!-- <div class="totall-product">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div> -->
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <!-- <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div> -->
                                    <!-- <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="sort-by-cover" style="margin-left: 500px;" id="filterID">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                           <% if(sort=="low"){ %>
                                            <span> Price: Low to High <i class="fi-rs-angle-small-down"></i></span>
                                          <%  } else if(sort=="high"){ %>
                                            <span> Price: High to Low <i class="fi-rs-angle-small-down"></i></span>
                                         <%   }else{ %>
                                            <span> Newest First <i class="fi-rs-angle-small-down"></i></span>
                                          <%  } %>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a href="#" onclick="sort()">Newest First</a></li>
                                            <li><a href="#" onclick="sortLow()">Price: Low to High</a></li>
                                            <li><a href="#" onclick="sortHigh()">Price: High to Low</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row product-grid-3">


                            <% productList.forEach(function(item){ %>

                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom" style="height: 255px;">
                                            <a href="shop-product-right.html/<%=   item._id     %>">
                                                <img class="default-img" src="/uploads/<%=   item.image[0]     %>" alt="">
                                                <img class="hover-img" src="/uploads/<%=   item.image[1]     %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> -->
<i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishList/<%= item._id %>" onclick="return addToWishList('/addToWishList/<%- item._id %>')"><i class="fi-rs-heart"></i></a>
                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <!-- <span class="hot">Hot</span> -->
                                        </div>
                                    </div>
                                    <div class="product-content-wrap" style="height: 160px;">
                                        <div class="product-category">
                                            <a href="shop-product-right.html/<%=   item._id     %>"><%= item.subCategory %></a>
                                        </div>
                                        <h2><a href="shop-product-right.html/<%=   item._id     %>"><%= item.name %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= item.rating %></span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%= item.sellingPrice %> </span>
                                            <span class="old-price">₹<%= item.MRP %></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="/addToCart/<%= item._id %>" onclick="return addToCart('/addToCart/<%- item._id %>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%  }) %>
                            <% if(productList.length==0){ %>
<h1>No Result found</h1>
                           <% } %>

                        </div>


                        <!--pagination-->
                        <!-- <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                </ul>
                            </nav>
                        </div> -->


                    </div>

                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30" id="catselectID">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories" >
                                <li id="filterAll" style="width: 100px;"><a href="shop-grid-left.html" > &nbsp &nbsp &nbsp All</a></li>
                                <li id="filterMen" style="width: 100px;"><a href="shop-grid-left.html?filter=MEN" >&nbsp &nbsp &nbsp Men</a></li>
                                <li id="filterWoman" style="width: 100px;"><a href="shop-grid-left.html?filter=WOMAN" >&nbsp &nbsp &nbsp Woman</a></li>
                                <li id="filterKids" style="width: 100px;"><a href="shop-grid-left.html?filter=KIDS" >&nbsp &nbsp &nbsp Kids</a></li>
                            </ul>
                        </div>

                        <!-- Fillter By Price -->
                        <!-- <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Red (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Green (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Blue (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>New (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Used (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div>
                        <!-- Product sidebar Widget -->
                        <!-- <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                    <p class="price mb-0 mt-5">$99.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                    <p class="price mb-0 mt-5">$89.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                    <p class="price mb-0 mt-5">$25</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                            <img src="assets/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>  -->


                    </div>
                </div>
            </div>
        </section>
        <div id="snackbar">Added to Cart</div>
        <div id="snackbar1">Added to Wish List</div>
    </main>


    <%- include('../partials/userFooter.ejs') %>
    <script>

        if('<%-filter%>'=='MEN'){
            $("#filterMen").css("background-color","#71c9c3")
        }
        else if('<%-filter%>'=='WOMAN'){
            $("#filterWoman").css("background-color","#71c9c3")
        }
        else if('<%-filter%>'=='KIDS'){
            $("#filterKids").css("background-color","#71c9c3")
        }
        else {
            $("#filterAll").css("background-color","#71c9c3")
        }



                function addToCart(url){

                '<% if(loginStatus){ %>'

                console.log(url)
                const xhr=new XMLHttpRequest()
                xhr.open('GET',url,true)
                xhr.onprogress=function(){

                };
                xhr.onload=function(){
                    
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
                document.getElementById("cartItem001").innerText= Number(document.getElementById("cartItem001").innerText)+1;

                }
                xhr.send()
                '<% } else {  %>'

                location.href = "/page-login-register.html";

                '<% } %>'

                return false;
                }


                function addToWishList(url){

                '<% if(loginStatus){ %>'

                console.log(url)
                const xhr=new XMLHttpRequest()
                xhr.open('GET',url,true)
                xhr.onprogress=function(){

                };
                xhr.onload=function(){

                var x = document.getElementById("snackbar1");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
                document.getElementById("wishItem001").innerText= Number(document.getElementById("wishItem001").innerText)+1;

                }
                xhr.send()
                '<% } else {  %>'

                location.href = "/page-login-register.html";

                '<% } %>'

                return false;

                }

function sortLow(){

    location.replace("/shop-grid-left.html?filter="+'<%-filter%>'+"&&sort=low") 
}
function sortHigh(){
    location.replace("/shop-grid-left.html?filter="+'<%-filter%>'+"&&sort=high") 
}
function sort(){
    location.replace("/shop-grid-left.html?filter="+'<%-filter%>') 
}

if('<%- sort%>'=="search"){
    $("#filterID").hide();
    $("#catselectID").hide();
}


    </script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>